<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    
    <style>
        body{
            font-family: Arial;
        }

        .error-control{
            border: 1px solid red;
        }

        label.error{
            color: red;
            width: 200px;
            font-size: 0.8em;
            margin-top: -5px;
            margin-bottom: 10px;
        }
    </style>

<script>

/*     $(function() 
    {
      $("#formulario").validate({
           rules: {
                  email: {
                        rut: "required",
                        nombre: "required",
                        apellido: "required",
                        region: "required",
                  }   
                  
              }, //rules
          messages: {
              rut: {
                  required: 'Ingrese rut del vehiculo ',
              },
              nombre: {
                  required: 'Ingrese nombre del vehiculo',
              },
              apellido:{
                  required: 'Ingrese apellido del vehiculo',
              },
              region:{
                  required: 'Seleccione una region',
              },
          }//messages
      }); //$('#mi-formulario').validate
  }); //function */


</script>
    <title>Crear Reserva</title>
</head>
<body>
    <div class="container">
        <h2>Creando Reserva</h2>

        <div class="row">
            <form method="POST" action="#" id="formulario">
                {% csrf_token %}
                <div class="form-group">
                    {{ cliente_form.rut.label }}
                    {{ cliente_form.rut }}
                </div>

                <div class="form-group">
                    {{ cliente_form.nombre.label }}
                    {{ cliente_form.nombre }}
                </div>

                <div class="form-group">
                    {{ cliente_form.apellido.label }}
                    {{ cliente_form.apellido }}
                </div>
                <div class="form-group">
                    {{ cliente_form.direccion.label }}
                    {{ cliente_form.direccion }}
                </div>

                <div class="form-group">
                    {{ cliente_form.region.label }}
                    {{ cliente_form.region }}
                </div>

                <br><br>
                <input type="submit" class="btn btn-primary" value="Enviar">
                <input type="reset" class="btn btn-danger" value="Limpiar">
                <a href="{% url 'home' %}" class="btn btn-success">Home</a>
            </form>
        </div>
    </div>
</body>
</html>